{% extends 'base.html.twig' %}

{% block title %}Livres - Recherche{% endblock %}

{% block body %}
    <div class="max-w-8xl mx-auto px-4 py-8">
        <div class="mt-12 max-w-4xl mx-auto bg-white bg-opacity-90 rounded-xl shadow-xl p-8 border border-indigo-200">
            {{ form_start(form) }}
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                <div>
                    {{ form_label(form.title, 'Titre du livre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'mt-2 block w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500'}})  }}
                </div>
                <div>
                    {{ form_label(form.author, 'Auteur', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                    {{ form_widget(form.author, {'attr': {'class': 'mt-2 block w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500'}}) }}
                </div>
                <div>
                    {{ form_widget(form.publication_date, {'attr': {'class': 'hidden'}}) }}
                </div>
            </div>

            <div class="mt-8 flex justify-center">
                {{ form_widget(form.submit, {'attr': {'class': 'px-6 py-3 bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-400 hover:to-indigo-400 text-white font-semibold rounded-full shadow-md transition-transform transform hover:scale-[1.05] duration-[300ms]'}}) }}
            </div>
            {{ form_end(form) }}
        </div>

        <h2 class="text-3xl font-bold my-5">Résultat :</h2>
        <hr>

        {% if results is not empty %}
            <div class="grid lg:grid-cols-4 gap-8 mt-8">
                {# Tableau pour suivre les IDs Google déjà affichés #}
                {% set displayedGoogleIds = [] %}

                {% for book in results %}
                    {# Vérification de l'origine (BDD ou API) #}
                    {% set setIsFromBdd = book.googleId is defined %}
                    {% set googleId = setIsFromBdd ? book.googleId : book.id %}

                    {# Afficher uniquement si ce n'est pas un doublon #}
                    {% if googleId not in displayedGoogleIds %}
                        {% set displayedGoogleIds = displayedGoogleIds|merge([googleId]) %}

                        <div class="flex flex-col sm:flex-row items-start p-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 transform hover:scale-[1.03] min-h-[250px]">
                            <div class="w-[120px] h-[180px] overflow-hidden rounded-md flex-shrink-0 mx-auto sm:mx-0">
                                {% if setIsFromBdd and book.image is defined %}
                                    {# Image du livre BDD #}
                                    <img src="{{ book.image }}" alt="{{ book.title|default('aucun titre') }}" class="w-full h-full object-cover transition-transform transform hover:scale-[1.1] duration-300">
                                {% elseif not setIsFromBdd and book.volumeInfo.imageLinks is defined and book.volumeInfo.imageLinks.thumbnail is defined %}
                                    {# Image du livre API #}
                                    <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title|default('aucun titre') }}" class="w-full h-full object-cover transition-transform transform hover:scale-[1.1] duration-300">
                                {% else %}
                                    {# Image par défaut #}
                                    <img src="/img/no-img.png" width="128" height="128" alt="{{ setIsFromBdd ? book.title|default('aucun titre') : book.volumeInfo.title|default('aucun titre') }}" class="object-cover transition-transform transform hover:scale-[1.1] duration-300">
                                {% endif %}
                            </div>

                            <div class="flex flex-col justify-between mt-4 sm:mt-0 sm:ml-6 space-y-2">
                                {% if setIsFromBdd %}
                                    {# Affichage du livre depuis la BDD #}
                                    <h3 class="text-lg font-bold text-gray-900 mb-2 line-clamp-2 min-h-16">{{ book.title|default('aucun titre') }}</h3>
                                    <p class="text-sm text-gray-600 mb-2 line-clamp-2">
                                        Auteur(s) : 
                                        {% if book.author %}
                                            <span class="text-blue-600 font-medium">{{ book.author }}</span>
                                        {% else %}
                                            <span class="text-gray-500">Auteur inconnu</span>
                                        {% endif %}
                                    </p>
                                    <p class="text-sm text-gray-500 mb-2">Date de publication : {{ book.publishedAt|date('Y-m-d')|default('aucune date de publication') }}</p>
                                    <a href="{{ path('app_book_id', { 'id': book.id }) }}" class="p-3 w-full sm:w-36 mt-6 px-[20px] py-[10px] bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-400 hover:to-indigo-400 text-white rounded-md shadow-md transition-transform transform duration-[300ms]">
                                        Voir le résumé
                                    </a>
                                {% else %}
                                    {# Affichage du livre depuis l'API #}
                                    <h3 class="text-lg font-bold text-gray-900 mb-2 line-clamp-2 min-h-16">{{ book.volumeInfo.title|default('aucun titre') }}</h3>
                                    <p class="text-sm text-gray-600 mb-2 line-clamp-2">
                                        Auteur(s) :
                                        {% if book.volumeInfo.authors is defined and book.volumeInfo.authors is not empty %}
                                            {% for author in book.volumeInfo.authors %}
                                                <span class="text-blue-600 font-medium">{{ author }}</span>
                                                {% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="text-gray-500">Auteur inconnu</span>
                                        {% endif %}
                                    </p>
                                    <p class="text-sm text-gray-500 mb-2">Date de publication : {{ book.volumeInfo.publishedDate|default('aucune date de publication') }}</p>
                                    <a href="{{ path('app_book_id', { 'id': book.id }) }}" class="p-3 w-full sm:w-36 mt-6 px-[20px] py-[10px] bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-400 hover:to-indigo-400 text-white rounded-md shadow-md transition-transform transform duration-[300ms]">
                                        Voir le résumé
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p class="mt-6 text-center text-gray-500">Aucun livre ne correspond au critère de recherche.</p>
        {% endif %}
    </div>
{% endblock %}
