{% extends 'base.html.twig' %}

{% block title %}Livres - Recherche
{% endblock %}

{% block body %}
	<div class="max-w-8xl mx-auto px-4 py-8">
		<div class="max-w-4xl m-auto">
			<h1 class="text-3xl font-semibold text-center mb-8 text-gray-800">Rechercher des livres</h1>
			{{ form_start(form) }}
			<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
				<div>
					{{ form_label(form.title, 'Titre du livre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					{{ form_widget(form.title, {'attr': {'class': 'p-1 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
				</div>

				<div>
					{{ form_label(form.author, 'Auteur', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					{{ form_widget(form.author, {'attr': {'class': 'p-1 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
				</div>

				<div>
					{{ form_label(form.publication_date, 'Date de publication', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					{{ form_widget(form.publication_date, {'attr': {'class': 'p-1 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
				</div>
			</div>
		</div>
		<div class="mt-6 text-center">
			<div>
				{{ form_widget(form.submit, {'attr': {'class': 'm-auto p-1 mt-1 block w-64 border border-gray-300 bg-blue-500 text-white transition hover:bg-blue-400 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500'}}) }}
			</div>
		</div>
		{{ form_end(form) }}
		<h2 class="mt-12 text-xl font-semibold text-gray-800">Résultats:</h2>
		{% if results is not empty %}
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
				{% for book in results %}
					<div class="p-4 border rounded-md shadow-sm hover:bg-gray-50 flex flex-col items-start w-full">
						<div class="w-24 h-32 mb-4">
							{% if book.volumeInfo.imageLinks is defined and book.volumeInfo.imageLinks.thumbnail is defined %}
								<img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}" class="w-full h-full object-cover rounded-md">
							{% else %}
								<img src={{"/img/no-img.png"}} alt="{{ book.volumeInfo.title }}" class="w-full h-full object-contain rounded-md">
							{% endif %}
						</div>
						<div class="flex-1">
							<strong class="text-lg text-gray-900">{{ book.volumeInfo.title }}</strong>
							<div class="text-sm text-gray-600 mt-2">
								{% if book.volumeInfo.authors is defined and book.volumeInfo.authors is not empty %}
									{% for author in book.volumeInfo.authors %}
										<span class="text-gray-700">{{ author }}</span>
										{% if not loop.last %},
										{% endif %}
									{% endfor %}
								{% else %}
									<span class="text-gray-500">No authors available</span>
								{% endif %}
							</div>
							<div class="text-sm text-gray-500 mt-2">
								Publier le :
								{{ book.volumeInfo.publishedDate }}
							</div>
							<div class="mt-4">
								<a href="{{ path(book.id, "app_book_id") }}" target="_blank" class="text-white bg-blue-400 hover:bg-blue-500 p-3 rounded-lg ">Voir le résumé</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p class="mt-6 text-gray-500">Aucun livres ne correspond au critère de recherche.</p>
		{% endif %}
	</div>
{% endblock %}